---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Marxist Linktree">
	<img src="images/linktree-hero.png" />
	<div class="hero-heading">
		<div class="subheading">welcome to the</div>
		<h1 class="heading">Marxist Linktree</h1>
	</div>
	<main>
		<div class="overview-section">
			<a href="podcasts" class="content-link w-inline-block">
				<div class="content-circle">
					<img src="images/microphone.png" class="content-icon" />
					<div class="content-title">Podcasts</div>
				</div>
			</a>
			<a href="#" class="content-link w-inline-block">
				<div class="content-circle">
					<img
						src="images/encyclopedia3.png"
						sizes="(max-width: 479px) 13vw, 60px"
						srcset="images/encyclopedia3-p-500.png 500w, images/encyclopedia3.png 512w"
						class="content-icon"
					/>
					<div class="content-title">Encyclopedia</div>
				</div>
			</a>
			<a href="#" class="content-link w-inline-block">
				<div class="content-circle">
					<img
						src="images/man.png"
						sizes="(max-width: 479px) 13vw, 60px"
						srcset="images/man-p-500.png 500w, images/man.png 512w"
						class="content-icon"
					/>
					<div class="content-title">Public figures</div>
				</div>
			</a>
			<a href="#" class="content-link w-inline-block">
				<div class="content-circle">
					<img src="images/web-2.png" class="content-icon" />
					<div class="content-title">Websites</div>
				</div>
			</a>
			<a href="#" class="content-link w-inline-block">
				<div class="content-circle">
					<img src="images/open-book.png" class="content-icon" />
					<div class="content-title">Library</div>
				</div>
			</a>
			<a href="content-creators" class="content-link w-inline-block">
				<div class="content-circle">
					<img src="images/youtube.png" class="content-icon" />
					<div class="content-title">Creators</div>
				</div>
			</a>
			<form action="/search" class="search w-form">
				<div class="search-heading">
					Search for a topic of interest
				</div><input
					type="search"
					class="search-input w-input"
					maxlength="256"
					name="query"
					placeholder="e.g. October Revolution"
					id="search"
					required=""
				/><input type="submit" value="Search" class="button w-button" />
			</form>
		</div>
		<div class="info-section">
			<h2 class="info-heading">
				The Marxist Linktree is an open-source encyclopedia of Marxist
				content and literature.
			</h2>
			<a href="#" class="info-link w-inline-block">
				<div class="info-base">
					<img src="images/heart.png" class="info-icon" />
					<div class="info-title">Donate</div>
				</div>
			</a>
			<a href="#" class="info-link w-inline-block">
				<div class="info-base">
					<img src="images/question-mark.png" class="info-icon" />
					<div class="info-title">About</div>
				</div>
			</a>
			<a href="#" class="info-link w-inline-block">
				<div class="info-base">
					<img
						src="images/notification.png"
						sizes="(max-width: 479px) 23vw, (max-width: 767px) 60px, (max-width: 991px) 8vw, 70px"
						srcset="images/notification-p-500.png 500w, images/notification.png 512w"
						class="info-icon"
					/>
					<div class="info-title">Contact</div>
				</div>
			</a>
			<div class="disclaimer">
				<div class="disclaimer-card">
					<img src="images/Caution.png" class="image" />
					<div class="disclaimer-heading-1">
						Consuming content<br />is not radical political activism
					</div>
					<div class="disclaimer-text-1">
						It is also not a substitute for<br />organizing,
						demonstrating, unionizing,<br />agitating & educating.
					</div>
					<div class="disclaimer-text-2">
						Don't forget to touch grass.
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		width: 100vw;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.hero-section {
		height: 100vh;
		background-image: url("../images/linktree-hero.png");
		background-position: 50%;
		background-size: cover;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 0;
		padding-bottom: 0;
		display: flex;
	}
	.hero-heading {
		margin-bottom: 4vw;
		display: block;
	}
	.overview-section {
		display: grid;
		place-content: center;
		grid-template-columns: repeat(3, 250px);
		padding: 2em 20vw 4em 20vw;
	}
	.overview-section > * {
		justify-self: center;
	}
	.search {
		grid-column: 1 / span 3;
	}
	.info-section {
		display: grid;
		background-color: rgba(0, 0, 0, 0);
		grid-template-columns: repeat(3, 250px);
		place-content: center;
		padding-top: 5em;
		padding-bottom: 10em;
	}
	.info-section > * {
		justify-self: center;
	}
	.info-heading {
		width: 40ch;
		color: #fff;
		text-align: center;
		justify-content: center;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		font-family: proxima-nova, sans-serif;
		font-size: 1.8rem;
		line-height: 1.5em;
		display: flex;
		grid-column: 1 / span 3;
	}
	.disclaimer {
		grid-column: 1 / span 3;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 5em;
		padding-bottom: 0;
		display: flex;
	}
</style>
