---
import type { LiterateWork } from '@schema/types';
import Cond from '@components/predicates/StrictNonNull.astro';

export interface Props {
  work: LiterateWork;
}
const { work } = Astro.props;
---

<div>
  <Cond value={work.image}>
    <Fragment>
      <img src=`/objects/${work?.image?.path}` />
    </Fragment>
    <Fragment slot='else'>
      <img src="/images/cover-missing.png" />
    </Fragment>
  </Cond>
</div>

<style>
  img {
    max-height: 100px;
  }
</style>

