---
import { LiterateWork } from '@schema/types';
import CoverDisplay from '@components/LiterateWork/CoverDisplay.astro';
import TitleDisplay from '@components/LiterateWork/TitleDisplay.astro';
import ContributorsDisplay from '@components/LiterateWork/ContributorsDisplay.astro';

export interface Props {
  work: LiterateWork
};
const { work } = Astro.props;
---

<div itemscope itemtype='https://schema.org/Book'>
  <header>
    <CoverDisplay work={work} />
    <TitleDisplay work={work} />
    <ContributorsDisplay work={work} />
  </header>
</div>

